.show-cook-inner{
  width:70%;
  margin:20px;
  background-color:#FEFDFC;
}

.cook-reference{
  margin-top:30px;
}

.cook-point{
  margin:30px 0;
}

.cook-point h2{
  font-size:17px;
}

.cook-title-point{
  font-weight: bold;
  margin-top:10px;
}

.show-cook-other-info{
  margin:30px 0;
}

.cook-info h2{
  font-size:15px;
}

.cook-other-info{
  font-size:17px;
  font-weight: bold;
}

/* お気に入り機能 */
.like-btn-unlike {
  color: red;
}
.like-btn-like {
  color: grey;
}

.show-fav{
  padding:15px 20px;
  margin-top:10px;
  font-size:7px;
}

/* いいね機能 */
.show-inner-like{
  display: flex;
}

.show-inner-like li{
  margin-right:5px;
}