<%= render "shared/header" %>

<main class="main">
  <div class="main-header">
    <div class="main-top">
      <h1>主婦の味方</h1>
      <h2>もう時間におわれない！</h2>
    </div>
  </div>

  <div class="main-main">

  </div>
</main>


<%= render "shared/footer" %>