

/* header */

.top-page-header{
  background-color: #fff;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}
.header-title{
  display: flex;
}
.header-title h1{
  font-size:20px;
  margin-top:5vh;
}
.header-icon {
  width: 10vw;
  margin-right:5px;
}

.nav{
  display: flex;
  flex-wrap: wrap;
}


.lists-left{
  display: flex;
  margin-right: 30px;
  margin-top:5vh;
}

.main-list{
  margin-right:10px;
}

.lists-right{
  display: flex;
  margin-right:5vw;
  margin-top:5vh;
}


.home-list{
  text-decoration: none;
}
.login{
  margin-right:10px;
  text-decoration: none;
}
.logout{
  text-decoration: none;
}
.sign-up{
  text-decoration: none;
}
.user-nickname{
  margin-right:10px;
  text-decoration: none;
}


