

.schedule{
  background-color:#FEFDFC;
  padding:20px 0;
}

.schedule-title{
  padding-top:20px;
  text-align: center;
  font-size:25px;
}


.schedule-table{
  margin: 0 auto;
}



.schedule-thead th{
  font-size:20px;
  padding:10px;
}

.schedule-table td{
  padding:0 20px 10px ;
}


.schedule-thead,.schedule-tbody{
  text-align: center;
  display: block;
}
.schedule-tbody{
  overflow-x: hidden;
  overflow-y: scroll;
  height: 120px;
}