.main{
  background-color:#F7F3E8;
  height:500px;
}


.main-top{
  text-align:center;
  padding-top:100px;
  margin-bottom:130px
}
.main-top h1{
  font-size:50px;
  margin-bottom:20px;
}
.main-top h2{
  font-size:20px;
}


.menu-main-list{
  display: flex;
  justify-content: space-around;
}