.new-form-wrap{
  height: 100vh;
  width: 100vw;
  background-color: #f8f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.new-message-form{
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.new-message-field{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}


.new-input-message{
  resize: none;
  padding-left: 10px;
}

.new-tag-field{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.new-input-tag{
  padding-left: 10px;
}

/* .child{
  border-bottom:#666 1px solid;
  margin: 10px 0;
  padding-left: 11px;
} */

.new-submit-post{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.new-submit-btn{
  width: 100px;
  height: 50px;
  cursor: pointer;
}